@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    background-color: #FFFFFF;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

h1, h2, h3, h4{
    font-family: 'Lora', 'Georgia', serif;
    color: #f07d45;
}

main h2, header h2{
    color: #f07d45;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1px;
    visibility: hidden;
}

h1{
    text-align: center;
    font-size: 50px;
}

h3, h4{
    font-size: 35px;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header{
    border-bottom: 4px solid #f07d45;
    padding: 20px;
    text-align: center;
}

.header-columns{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}

.nav-list{
    list-style: none;
    display: flex;
}

.col-3{
    margin-top: 40px;
    margin-bottom: -20px;
}

.nav-list li{
    padding: 10px;
}

nav{
    background-color: #f07d45;
    border: solid #f07d45;
    border-radius: 0px;
}

nav a{
    color: #FFFFFF;
}

a:hover{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

main a{
    color: #00ffff;
}

main a:visited{
    color: #00e6e6;
}

main a:active, footer a:active{
    color: #00ffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}

a:focus{
    outline: 2px solid #007BFF;
}

main{
    padding: 20px;
}

main h3, main h4{
    text-align: center;
    margin-bottom: 20px;
}

.time-expectations-container,
.featured-recipe-container,
.other-recipes-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}


.time-expectations-container,
.featured-recipe-container{
    grid-template-columns: repeat(auto-fill, 700px);
}

.cell,
.box{
    background-color: #f07d45;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #FFFFFF;
    text-align: center; /*to center links under images*/
}

.box-link{
    display: block;
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;
}


#featured-recipe-title,
#other-recipes-title{
    background-color: #f07d45;
    color: #FFFFFF;
    padding: 20px;
}

#featured-recipe-description{
    grid-column: span 1;

}

#featured-recipe-image{
    grid-column: span 1;
}

.box img, .cell img{
    border-radius:40px;
    border: 2px solid #FFFFFF;
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #f07d45;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

.footer-header{
    color: #FFFFFF;
}

footer a{
    font-size: 14px;
    text-decoration: underline;
}

footer h2{
    padding-bottom: 10px;
    font-size: 20px;
    color: #f07d45;
}

.centering{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #f07d45;
    align:center;
}

table, th, td{
    border: 2px solid #FFFFFF;
}

th, td{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
}

th{
    background-color: #f07d45;
}

tr:hover{/*hovering changes color of background*/
    background-color: rgba(255, 255, 255, 0.1);
}

th{
    background-color: #fbc5a6;
}

#directions{
    text-align: left;
}

#directions ol{
    list-style-type: decimal;
    margin-left: 20px;
}

#directions ol li{
    font-size: 18px;
    line-height: 2;
    padding-bottom:10px;
    padding-top:10px;
}

.left{
    text-align:left;
}

article{
    margin-bottom: 100px;
}

.footer-links{
    list-style: none;
    padding: 0;
}

.footer-links li{
    display: inline-block;
    margin-right: 10px;
}

.copyright-disclaimer{
    padding-top: 40px;
}